{% extends 'Convolution/base.html' %}

{% block title %}Detection page{% endblock %}

{% block content %}

    <div class="bg-info pb-5">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Transmission line</a>


            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'detection' %}">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">About</a>
                    </li>
                </ul>
            </div>
        </nav>
        <h2>API Page</h2>
        <div class=" p-4 mx-auto bg-secondary rounded" style="width: 70rem;">
            <form action="{% url 'detection' %}" method="POST">
                {% csrf_token %}
                <select name="imagetower" id="dest" class="form-control form-control-lg dest">
                    <option selected disabled="disabled">Tower Destination</option>
                    {% for Image in TowerImages %}
                        <option value="{{ Image }}">{{ Image.towerlocation }}</option>
                    {% endfor %}
                </select>
                <div class="text-center pt-3">
                    <button class="btn btn-info ">View map</button>

                </div>


            </form>
            <div class="pt-3">
                <h2>
                    <form method="post" action="{% url 'modelprediction' %}" enctype='multipart/form-data'>
                        {% csrf_token %}
                        Preview of the tower Location:{{  }}
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="text" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" name="text" placeholder="Enter Text">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="mx-auto" id="map">
                            <img class="rounded img-fluid pt-3" name="towerImage"
                                 src="http://127.0.0.1:8000/media/{{ imagesexample }}"
                                 width="600px" alt="">
                            <input type="hidden" name="towerimages" value="{{ imagesexample }}">
                        </div>

                        <div class="text-center mx-auto">
                            <button class=" btn btn-info">Submit for detection</button>
                        </div>
                    </form>

                </h2>
            </div>


        </div>
        <div>
            <h2>The images</h2>
            <img src="http://127.0.0.1:8000/media/{{ imagesexample }}" width="400px" alt="">
        </div>

        {#        <script language="JavaScript" type="text/javascript"#}
        {#                src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>#}

        {#        <script>#}
        {#            var coordinates1;#}
        {#            var coordinates2;#}
        {#            $("button").click(function () {#}
        {##}
        {#                $.each($(".src option:selected"), function () {#}
        {#var coordinates = $(this).val()#}
        {#                    coordinates1 = $.parseJSON($(this).val())#}
        {#                    console.log(coordinates1.lng);#}
        {#                });#}
        {#                $.each($(".dest option:selected"), function () {#}
        {#var coordinates = $(this).val()#}
        {#                    coordinates2 = $.parseJSON($(this).val())#}
        {#                    console.log(coordinates2.lng);#}
        {#                });#}
        {##}
        {#                var options = {#}
        {##}
        {#                    center: {#}
        {#                        lat: parseFloat(coordinates1.lat),#}
        {#                        lng: parseFloat(coordinates1.lng),#}
        {#                        lat: parseFloat(coordinates2.lat),#}
        {#                        lng: parseFloat(coordinates2.lng)#}
        {#                    },#}
        {#                    zoom: 19,#}
        {#                    mapTypeId: "satellite",#}
        {#                }#}
        {##}
        {#                var map = new google.maps.Map(document.getElementById('map'), options)#}
        {#            });#}
        {##}
        {#            function initMap() {#}
        {#                var options = {#}
        {##}
        {#                    center: {lat: 5.65267, lng: -0.107658, lat: 5.662799131, lng: -0.082503074},#}
        {#                    zoom: 14,#}
        {#                    mapTypeId: "satellite",#}
        {#                }#}
        {##}
        {#                var map = new google.maps.Map(document.getElementById('map'), options)#}
        {#                map.setTilt(0);#}
        {#            }#}
        {##}
        {#function viewMap() {#}
        {#    console.log('Ready one')#}
        {#    $("select.src").change(function () {#}
        {#        console.log('source')#}
        {#    });#}
        {##}
        {##}
        {#        </script>#}

        {#        <script>#}
        {#            $(document).ready(function () {#}
        {#                $("button").click(function () {#}
        {##}
        {#                    $.each($(".src option:selected"), function () {#}
        {#var coordinates = $(this).val()#}
        {#                        var coordinates1 = $.parseJSON($(this).val())#}
        {#                        console.log(coordinates1.lng);#}
        {#                    });#}
        {#                    $.each($(".dest option:selected"), function () {#}
        {#var coordinates = $(this).val()#}
        {#                        var coordinates2 = $.parseJSON($(this).val())#}
        {#                        console.log(coordinates2.lng);#}
        {#                    });#}
        {#                });#}
        {#            });#}
        {#        </script>#}

        <script async
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSL1bMYM92O4d3MME-bmDchsyYR6wwTbQ&callback=initMap">
        </script>
    </div>



{% endblock %}

{#<html>#}
{#  <head>#}
{#    <title>Add Map</title>#}
{##}
{#    <style type="text/css">#}
{#      /* Set the size of the div element that contains the map */#}
{#      #map {#}
{#        height: 400px;#}
{#        /* The height is 400 pixels */#}
{#        width: 100%;#}
{#        /* The width is the width of the web page */#}
{#      }#}
{#    </style>#}
{#    <script>#}
{#      // Initialize and add the map#}
{#      function initMap() {#}
{#        // The location of Uluru#}
{#        const uluru = { lat: -25.344, lng: 131.036 };#}
{#        // The map, centered at Uluru#}
{#        const map = new google.maps.Map(document.getElementById("map"), {#}
{#          zoom: 4,#}
{#          center: uluru,#}
{#        });#}
{#        // The marker, positioned at Uluru#}
{#        const marker = new google.maps.Marker({#}
{#          position: uluru,#}
{#          map: map,#}
{#        });#}
{#      }#}
{#    </script>#}
{#  </head>#}
{#  <body>#}
{#    <h3>My Google Maps Demo</h3>#}
{#    <!--The div element for the map -->#}
{#    <div id="map"></div>#}
{##}
{#    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->#}
{#    <script#}
{#      src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&libraries=&v=weekly"#}
{#      async#}
{#    ></script>#}
{#  </body>#}
{#</html>#}
