{% extends 'Convolution/base.html' %}

{% block title %}Detection page{% endblock %}
{% block content %}

    <div class=" pb-5">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Transmission line</a>


            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'detection' %}">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">About</a>
                    </li>
                </ul>
            </div>
        </nav>
        <h2 class="text-center">Model Prediction Page</h2>
        <div class=" p-4 mx-auto bg-secondary rounded" style="width: 40rem; height: 500px">
            <h3>The number of abnormalities detected are {{ result_length }}</h3>
            <div class="mx-auto">
                <img class="rounded img-fluid pt-3" name="towerImage"
                     src="http://127.0.0.1:8000/media/pictures/merge/{{ image }}"
                     width="600px" alt="">
                <input type="hidden" name="towerimages" value="{{ imagesexample }}">
            </div>

        </div>

        <div class="pt-3 text-center mx-auto">
            <form action="{% url 'notification' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="tower_anomalies" value="{{ result_length }}">
                <button class="btn btn-outline-primary btn-lg" onclick="">Notify the Maintenance</button>

            </form>
        </div>

    </div>






{% endblock %}


